<query-editor-row ctrl="ctrl" class="open-falcon-datasource-query-row">
	<ul class="tight-form-list">
    <li class="tight-form-item query-keyword">Query</li>
    <li>
      <metric-segment-model property="ctrl.target.target" get-options="ctrl.getOptions()" on-change="ctrl.onChangeInternal()" css-class="tight-form-item-xxlarge"></metric-segment-model>
    </li>
  </ul>

	<span style="display: block; overflow: hidden;">
		<input type="text" class="tight-form-clear-input" style="width: 100%;" ng-model="target.target" give-focus="target.textEditor" spellcheck='false' ng-model-onblur ng-change="get_data()" ng-show="target.textEditor"></input>
	</span>

	<ul class="tight-form-list" role="menu" ng-hide="target.textEditor">
		<li ng-repeat="segment in segments" role="menuitem">
			<metric-segment segment="segment" get-options="getAltSegments($index)" on-change="segmentValueChanged(segment, $index)"></metric-segment>
		</li>
		<li ng-repeat="func in functions">
			<span openfalcon-func-editor class="tight-form-item tight-form-func">
			</span>
		</li>
		<li class="dropdown" openfalcon-add-func>
		</li>
	</ul>
	<div class="clearfix"></div>
</query-editor-row>
